{% extends 'base.html' %}
{% load static %}
{% block content %}
<body style="background:url('{% static 'images/blue1.png' %}');
            background-size:cover;
            background-attachment:fixed;
            background-position:center;">
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NAME</th>
      <th scope="col">AGE</th>
      <th scope="col">INCOME</th>
      <th scope="col">UPDATE</th>
      <th scope="col">DELETE</th>
    </tr>
  </thead>
  <tbody>
  {% for i in family_members %}
    <tr>
      <th scope="row">{{ i.id }}</th>
      <td>{{ i.name }}</td>
      <td>{{ i.age }}</td>
      <td>{{ i.income }}</td>
      <td>
        <a href="{% url 'update_member' i.id %}">update</a>
      </td>
      <td>
        <a href="{% url 'delete_member' i.id %}">delete</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}